* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
html, body {
    height: 100%;
}
.container {
    max-width: 1280px;
    margin: 0 auto;
}
.clear {
    clear: both;
}
header {
    width: 100%;
    height: 90vh;
    min-height: 800px;
    padding: 25px 2%;
    background: rgba(0, 0, 0, 0.65);
    /* OUTRO MÉTODO DIRETAMENTE NA HEADER =
    background: url('../img/header3.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;*/
}
header .container img {
    position: absolute;
    object-fit: cover;
    min-height: 800px;
    left: 0;
    top: 0;
    width: 100%;
    height: 90vh;
    z-index: -1;
}
header .logo a{
    position: relative;
    top: -15px;
    float: left;
    background-image: url('../img/logo2.png');
    background-size: cover;
    width: 230px;
    height: 60px;
}
header nav {
    float: right;
}
header nav.desktop-menu ul {
    list-style-type: none;
}
header nav.desktop-menu li {
    text-align: center;
    width: 125px;
    float: left;
}
header nav.desktop-menu a {
    font-size: 18px;
    text-decoration: none;
    color: white;
}
header nav a:hover{
    transition: 0.1s;
    font-size: 21px;
}
header nav a:hover::after{
    content: " >";
}
header nav a:hover::before{
    content: "< ";
}
header nav.mobile-menu {
    display: none;
    width: 42px;
    height: 42px;
    margin: 15px 15px 0px 0px;
    background-image: url('../img/menu.png');
    background-size: 100% 100%;
    cursor: pointer;
}
header nav.mobile-menu ul {
    display: none;
    font-size: 20px;
    background: rgb(0,0,0);
    background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(0,64,59,1) 100%);
    position: absolute;
    width: 100%;
    left: 0;
    top: 90px;
    list-style-type: none;
    text-align: center;
}
nav.mobile-menu ul li {
    border-bottom: 1px solid black;
    padding: 10px 0;
}
nav.mobile-menu ul li:hover {
    background: rgb(0,0,0);
    background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgb(0, 97, 89) 100%);
}
nav.mobile-menu ul li a {
    text-decoration: none;
    color: white;
}
.call1 {
    max-width: 600px;
    float: right;
    margin: 150px 150px 0px 150px;
    animation: call1 2s;
}
@keyframes call1 {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.call1 h2 {
    font-size: 60px;
    color: white;
    font-weight: lighter;
}
.call1 p {
    font-size: 15px;
    color: white;
    margin-top: 10px;
}
section.section1 {
    width: 100%;
    background: rgb(40,111,117);
    background: radial-gradient(circle, rgba(40,111,117,1) 0%, rgba(10,26,37,1) 100%);
    padding: 0px 2%;
    height: 400px;
}
section.section1 .container{
    max-width: 1000px;
    height: calc(100% + 30px); /* ajuste para melhor ajuste de altura entre as div's */
}
.text-section1 {
    position: relative;
    left: 80px;
    width: 50%;
    margin-top: 40px;
    float: left;
    color: white;
}
.text-section1 h2 {
    font-size: 40px;
    font-weight: lighter;
}
.text-section1 p {
    font-size: 20px;
    margin-top: 20px;
}
.text-section1 ul {
    list-style-position: inside;
    font-size: 17px;
    padding: 5px;
}
.text-section1 ul li {
    margin-top: 6px;
    float: left;
    width: 100%;
}
.btn1-text {
    background-color: black;
    width: 140px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    font-size: 20px;
    height: 44px;
    cursor: pointer;
    color: white;
    margin-top: 20px;
    text-align: center;
    border-radius: 20px;
    background: rgb(0,0,0);
    background: radial-gradient(circle, rgba(0,0,0,1) 23%, rgba(0,37,34,1) 100%);
    line-height: 44px;
}
.btn1-text:hover {
    transition: 0.1s;
    scale: 1.1;
    background: rgb(0,0,0);
    letter-spacing: 1px;
    background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgb(0, 46, 42) 100%);
}
.device-section1 {
    float: left;
    width: 50%;
    height: 100%;
    position: relative;
    top: -30px;
    background-image: url('../img/device.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
section.section2 {
    padding: 0px 3%;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(5,55,55,0.5398831407563025) 100%);
    text-align: center;
    padding-top: 30px;
}
section.section2 .container {
    max-width: 1000px;
}
section.section2 p {
    margin-top: 15px;
    max-width: 700px;
    display: inline-block;
}
section.section2 img {
    position: relative;
    top: 80px;
    width: 100%;
    border-radius: 10px;
    box-shadow: 1px 1px 10px 8px rgba(0, 0, 0, 0.5);
    margin-top: 35px;
}
section.section3 {
    width: 100%;
}
.part1 {
    float: left;
    width: 50%;
    padding: 140px 10px 90px 20px;
    background: rgb(0,34,32);
    background: linear-gradient(90deg, rgba(0,34,32,1) 0%, rgba(0,133,133,1) 100%);
}
.wraper-part1 {
    float: right;
    max-width: 500px;
    padding-right: 30px;
}
.part1 h2 {
    font-style: italic;
    font-weight: lighter;
    font-size: 25px;
    color: white;
}
.part1 p {
    font-size: 16px;
    color: white;
    margin-top: 10px;
}
.part2 {
    float: left; 
    width: 50%;
    padding: 140px 20px 90px 0px;
}
.about-aut {
    float: left;
    max-width: 600px;
    padding-left: 30px;
}
.title-aut {
    float: left;
    width: 100%;
}
.wraper-title-aut {
    float: left;
}
.wraper-title-aut p {
    font-style: italic;
}
.title-aut h2 {
    padding-right: 15px;
    font-weight: normal;
    font-size: 27px;
}
.title-aut .img-aut {
    background-image: url('../img/aut1.png');
    background-size: contain;
    background-size: 100% 100%;
    border: 1px solid rgba(0, 0, 0, 0.3);
    padding-top: 40px;
    width: 50px;
    height: 50px;
    float: left;
    border-radius: 25px;
}
.text-aut {
    float: left;
    width: 100%;
    margin-top: 10px;
}
.slider-bullets {
    float: left;
    width: 100%;
    padding-left: 30px;
    margin-top: 12px;
}
.slider-bullets span {
    width: 10px;
    height: 10px;
    float: left;
    border-radius: 5px;
    margin-right: 8px;
    background-color: #adadad;
    cursor: pointer;
}
section.section4 {
    padding: 50px 0;
    background: rgb(20, 20, 20);
    background: radial-gradient(circle, rgba(20,20,20,1) 60%, rgba(12,80,65,1) 150%);
}
.form {
    float: left;
    width: 50%;
    color: white;
    padding-left: 15px;
}
.form h2 {
    margin-bottom: 10px;
    font-size: 25px;
}
.form p {
    max-width: 400px;
    padding-right: 15px;
}
.form form {
    margin-top: 20px;
}
.form form input[type=text] {
    width: 90%;
    font-size: 15px;
    max-width: 480px;
    height: 58px;
    padding-left: 15px;
    line-height: 58px;
    margin-top: 10px;
}
.form textarea {
    width: 90%;
    max-width: 480px;
    padding: 15px;
    height: 130px;
    font-style: italic;
    margin-top: 10px;
}
.form form input[type=submit] {
    background-color: black;
    width: 125px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    font-size: 25px;
    height: 44px;
    cursor: pointer;
    color: white;
    margin-top: 15px;
    border-radius: 20px;
    background: rgb(0,0,0);
    background: radial-gradient(circle, rgba(0,0,0,1) 23%, rgba(0,37,34,1) 100%);
}
.form form input[type=submit]:hover {
    transition: 0.1s;
    scale: 1.1;
    background: rgb(0,0,0);
    letter-spacing: 1px;
    background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgb(0, 46, 42) 100%);
}
.map-wraper {
    float: left;
    width: 50%;
    color: white;
    padding: 0 15px;
}
.map-wraper h2 {
    font-size: 25px;
}
.map-wraper3 {
    margin-top: 10px;
    width: 100%;
    max-width: 480px;
    position: relative;
}
.map-wraper2 {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    padding-top: 100%;
}
.map {
    left: 0;
    top: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: white;
    border: 5px solid rgba(12,80,65,1);
}
footer {
    padding: 40px 2%;
    color: white;
    font-size: 14px;
    background-color: rgb(26, 32, 30);
}
footer .container nav {
    width: 100%;
    padding: 0px 0px 50px 0px;
}
footer .container nav.desktop-menu ul {
    list-style-type: none;
}
footer .container nav.desktop-menu li {
    float: left;
    padding-right: 60px;
}
footer .container nav.desktop-menu a {
    font-size: 18px;
    text-decoration: none;
    color: white;
}
footer p:nth-of-type(1){
    float: left;
}
footer p:nth-of-type(2) {
    float: right;
}

/* MEDIA QUERIES */

@media screen and (max-width: 1044px) {
    section.section1 {
        height: auto;
        text-align: center;
    }
    .text-section1 {
        width: 100%;
        float: none;
        margin: 60px 0px;
        position: static;
        display: inline-block;
    }
    .text-section1 ul {
        display: inline-block;
    }
    .text-section1 ul li {
        text-align: left;
        float: none;
    }
    .btn1-text {
        width: 200px;
        height: 60px;
        border-radius: 30px;
        font-size: 30px;
        line-height: 55px;
        display: inline-block;
    }
    .device-section1 {
        display: none;
    }
}
@media screen and (max-width: 776px) {
    header nav.desktop-menu {
        display: none;
    }
    header nav.mobile-menu {
        display: block;
    }
    header {
        width: 100%;
        height: auto;
        min-height: 60vh;
    }
    header .container img {
        height: auto;
        min-height: 60vh;
    }
    .call1 {
        max-width: none;
        width: 100%;
        height: auto;
        text-align: center;
        float: none;
        margin: 100px 0px 70px 0px;
    }
    .call1 h2 {
        font-size: 45px;
        font-weight: normal;
    }
    .call1 p {
        font-size: 18px;
        padding: 0 50px;
    }
    section.section4 .container {
        text-align: center;
    }
    .form {
        float: none;
        width: 100%;
        padding-left: 0px;
    }
    .form p {
        float: none;
        display: inline-block;
    }
    .map-wraper {
        float: none;
        width: 100%;
        margin-top: 40px;
        padding: 0 8%;
    }
    .map-wraper3 {
        margin-top: 10px;
        width: 100%;
        padding-top: 100%;
        max-width: none;
        display: inline-block;
        position: relative;
    }
    .map-wraper2 {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        padding-top: 0;
    }
    footer {
        padding: 20px 2%;
        color: white;
        text-align: center;
        font-size: 14px;
        background-color: rgb(26, 32, 30);
    }
    footer .container nav {
        padding: 0px 0px 20px 0px;
    }
    footer .container nav.desktop-menu li {
        float: none;
        display: inline-block;
        padding-right: 30px;
    }
    footer p:nth-of-type(1){
        float: none;
    }
    footer p:nth-of-type(2) {
        margin-top: 8px;
        float: none;
    }
}
@media screen and (max-height: 805px) {
    header .container img {
        min-height: 700px;
        max-height: 800px;
    }
    header {
        width: 100%;
        height: auto;
        min-height: 700px;
    }
    .call1 {
        max-width: none;
        width: 100%;
        height: auto;
        text-align: center;
        float: none;
        margin: 100px 0px 70px 0px;
    }
    .call1 h2 {
        font-size: 45px;
        font-weight: normal;
    }
    .call1 p {
        font-size: 18px;
        padding: 0 50px;
    }
}
@media screen and (max-width: 663px) {
    .part1 {
        width: 100%;
        padding: 140px 10px 90px 50px;
    }
    .part2 {
        width: 100%;
        padding: 80px 10px 80px 20px;
    }
    .slider-bullets span {
        width: 15px;
        height: 15px;
        border-radius: 7px;
    }
    .wraper-part1 {
        float: left;
    }
}
@media screen and (max-width: 570px) {
    .call1 h2 {
        font-size: 35px;
    }
    .text-section1 h2{
        font-size: 35px;
    }
}
@media screen and (max-width: 510px) {
    footer .container nav.desktop-menu li {
        padding-right: 15px;
    }
}